# Netlify CMS configuration for use with ClearStatus
backend:
  name: git-gateway
  branch: master

# This line should *not* be indented
media_folder: "static/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

## Content definition
collections:
  - name: "issue"
    label: "Incidents"
    folder: "content/default/issues"
    create: true
    slug: "{{ .Site.Params.NetlifySlug }}"
    fields:
      - {label: "Section", name: "section", widget: "hidden", default: "issue"}
      - {label: "Title", name: "title", widget: "string", hint: "A short descriptive title for the event."}
      - {label: "Date", name: "date", widget: "datetime", hint: "The date and time at which the event started or is scheduled."}
      - label: "Status"
        name: "status"
        hint: "The current state of the incident."
        widget: "select"
        default: "in_progress"
        options:
          - { label: "Resolved", value: "resolved" }
          - { label: "In progress", value: "in_progress" }
          - { label: "Scheduled", value: "scheduled" }
      - label: "Pinned"
        name: "pinned"
        required: false
        hint: "This item will be taken out of the flow of events and displayed at top of page or below the header as long as its status is marked as in_progress"
        widget: "select"
        default: ""
        options:
          - { label: "Not pinned", value: "" }
          - { label: "Top of page", value: "top" }
          - { label: "Just below the header", value: "belowheader" }
      - label: "Current severity"
        name: "current_severity"
        hint: "How severe the incident currently is."
        widget: "select"
        default: "monitoring"
        options:
          - { label: "Level 0 Incident", value: "ok" }
          - { label: "Level 1 Incident", value: "disrupted" }
          - { label: "Level 2 Incident", value: "monitoring" }
          - { label: "Level 3 Incident", value: "down" }
          - { label: "Event", value: "maintenance" }
      - label: "Max severity"
        name: "max_severity"
        hint: "What was the maximum severity of the event until its resolution. Used when the event is displayed in the Past events section."
        widget: "select"
        default: "monitoring"
        options:
          - { label: "Level 0 Incident", value: "ok" }
          - { label: "Level 1 Incident", value: "disrupted" }
          - { label: "Level 2 Incident", value: "monitoring" }
          - { label: "Level 3 Incident", value: "down" }
          - { label: "Event", value: "maintenance" }
      - label: "Duration"
        name: "duration"
        required: false
        hint: "Expected duration for the event. Only used for <scheduled> events. This is free text: ie 5mn, 1h, 1 hour,.."
        widget: "string"
        default: ""
      - label: "Resolved on"
        name: "resolved_on"
        required: false
        widget: "datetime"
        default: ""
        hint: ""
      - label: "Affected regions"
        name: "affected"
        hint: "Which of your regions are affected by the event."
        widget: "select"
        multiple: true
        options:
{{ range .Site.Params.Systems }}          - { label: "{{ .name }}", value: "{{ .name }}" }
{{ end }}
      - label: "Enable comments"
        name: "enableComments"
        hint: "Enable/disable comments on this incident. This should only be enabled by PIO+."
        widget: "boolean"
        default: false
      - label: "Event description"
        name: "body"
        required: false
        hint: "Description of the event as it happens and what you do about it. You can come back several times and update that description."
        widget: "markdown"
        default: "Responding Units: "
