<!-- Website Analytics -->
<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-531613-J');
  _gs('set', 'anonymizeIP', true);
</script>

<style>
/*
                        _______
                       /       \
                      .==.    .==.
                     ((  ))==((  ))
                    / "=="    "=="\
                   /____|| || ||___\
       ________     ____    ________  ___    ___
       |  ___  \   /    \   |  ___  \ |  |  /  /
       |  |  \  \ /  /\  \  |  |  \  \|  |_/  /
       |  |   )  /  /__\  \ |  |__/  /|  ___  \
       |  |__/  /  ______  \|  ____  \|  |  \  \
_______|_______/__/ ____ \__\__|___\__\__|___\__\____
|  ___  \ |  ____/ /    \   |  ___  \ |  ____|  ___  \
|  |  \  \|  |___ /  /\  \  |  |  \  \|  |___|  |  \  \
|  |__/  /|  ____/  /__\  \ |  |   )  |  ____|  |__/  /
|  ____  \|  |__/  ______  \|  |__/  /|  |___|  ____  \
|__|   \__\____/__/      \__\_______/ |______|__|   \__\
                https://darkreader.org
*/
/* User-Agent Style */
html {
    background-color: #181a1b !important;
}
html, body, input, textarea, select, button {
    background-color: #181a1b;
}
html, body, input, textarea, select, button {
    border-color: #736b5e;
    color: #e8e6e3;
}
a {
    color: #3391ff;
}
table {
    border-color: #545b5e;
}
::placeholder {
    color: #b2aba1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
}
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
* {
    scrollbar-color: #202324 #454a4d;
}
::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}
::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, embed[type="application/pdf"] {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}

/* Variables Style */
:root {
   --darkreader-neutral-background: #131516;
   --darkreader-neutral-text: #d8d4cf;
   --darkreader-selection-background: #004daa;
   --darkreader-selection-text: #e8e6e3;
}

/* Modified CSS */
a {
    background-color: transparent;
}
legend {
    color: inherit;
}
button {
    background-image: initial;
    background-color: transparent;
}
button:focus {
    outline-color: rgb(186, 123, 0);
}
*,
::before,
::after {
    border-color: rgb(57, 61, 64);
}
input::placeholder {
    color: inherit;
}
.list-reset {
    list-style-image: initial;
}
.bg-transparent {
    background-color: transparent;
}
.bg-grey-light {
    background-color: rgb(41, 45, 46);
}
.bg-grey-lighter {
    background-color: rgb(30, 32, 34);
}
.bg-white {
    background-color: rgb(24, 26, 27);
}
.bg-blue-lighter {
    background-color: rgb(44, 48, 50);
}
.border-transparent {
    border-color: transparent;
}
.border-grey-dark {
    border-color: rgb(78, 85, 88);
}
.border-grey-light {
    border-color: rgb(57, 61, 64);
}
.border-grey-lighter {
    border-color: rgb(36, 57, 72);
}
.shadow-md {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
}
.fill-current {
    fill: currentcolor;
}
.text-black {
    color: rgb(206, 202, 196);
}
.text-grey-darkest {
    color: rgb(187, 181, 172);
}
.text-grey-darker {
    color: rgb(163, 155, 143);
}
.text-grey-dark {
    color: rgb(164, 157, 145);
}
.text-white {
    color: rgb(232, 230, 227);
}
.no-underline {
    text-decoration-color: initial;
}

/* Override Style */
.vimvixen-hint {
    background-color: #7b5300 !important;
    border-color: #d8b013 !important;
    color: #f3e8c8 !important;
}
::placeholder {
    opacity: 0.5 !important;
}
</style>